/* Write your CSS here */
.image {
  height: 300px;
  width: 300px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width {
  width: 450px;
}
.name-heading {
  color: #ffffff;
  text-align: center;
}

.description {
  color: #f1f5f9;
}
